body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.user-account {
    display: flex;
    align-items: center;
}

.user-account a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.4s ease;
}

.user-account a:hover {
    background-color: #fff;
    color: #000;
}

.logo {
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.4s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

.img {
    background: url('home.jpg') ;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.center {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.center .title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;
}

.center .btns button {
    height: 50px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.center .btns button:first-child {
    color: #fff;
    background: steelblue;
}

.center .btns button:first-child:hover {
    background: #fff;
    color: #0e0344;
}

.center .btns button:hover {
    background: #fff;
    color: #000;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
